{
  "swagger": "2.0",
  "info": {
    "title": "Filevine Api Gateway",
    "description": "A RESTful application interface used to connect to the Filevine cloud service.",
    "version": "2.0.0"
  },
  "host": "api.filevineapp.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "paths": {
    "/fv-app/v2/AccountingSync": {
      "put": {
        "tags": [
          "Billing: Billing Items"
        ],
        "summary": "Sync Billing Items",
        "description": "\nMarks sync status of billing items with an external accounting system.\nBilling items are unsynced when created or edited.\nUse the `unsynced` filter on billing item list endpoints to retrieve items needing sync.\n",
        "operationId": "update-accounting-sync",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "x-fv-userid",
            "in": "header",
            "description": "The User Id of the requesting user",
            "required": true,
            "type": "integer",
            "default": 0
          },
          {
            "name": "x-fv-orgid",
            "in": "header",
            "description": "The Org Id the requesting user belongs to",
            "required": true,
            "type": "integer",
            "default": 0
          },
          {
            "in": "body",
            "name": "request",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AccountingSync"
              }
            }
          }
        ],
        "schemes": [
          "https"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/HttpStatusCode"
            }
          }
        },
        "security": [
          {
            "access_token": []
          }
        ]
      }
    },
    "/fv-app/v2/classifications": {
      "get": {
        "tags": [
          "Billing: Timekeeper Classifications"
        ],
        "summary": "Get Timekeeper Classifications",
        "description": "\nRetrieves all LEDES timekeeper classification codes available for billing and rate schedules\n",
        "operationId": "get-timekeeper-classifications",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "x-fv-userid",
            "in": "header",
            "description": "The User Id of the requesting user",
            "required": true,
            "type": "integer",
            "default": 0
          },
          {
            "name": "x-fv-orgid",
            "in": "header",
            "description": "The Org Id the requesting user belongs to",
            "required": true,
            "type": "integer",
            "default": 0
          }
        ],
        "schemes": [
          "https"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TimekeeperClassificationResponse"
              }
            }
          }
        },
        "security": [
          {
            "access_token": []
          }
        ]
      }
    },
    "/fv-app/v2/billingitem/invoices": {
      "put": {
        "tags": [
          "Billing: Invoices"
        ],
        "summary": "[Deprecated] Create/Update Invoice",
        "description": "\nCreates a new invoice or updates if an invoice ID is provided in the request.\n\nThis API call is currently deprecated. Please use the new Create Invoice and Update Invoice APIs.\nExpected removal date - 1/1/2027\n",
        "operationId": "new-create-or-update-invoice",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "x-fv-userid",
            "in": "header",
            "description": "The User Id of the requesting user",
            "required": true,
            "type": "integer",
            "default": 0
          },
          {
            "name": "x-fv-orgid",
            "in": "header",
            "description": "The Org Id the requesting user belongs to",
            "required": true,
            "type": "integer",
            "default": 0
          },
          {
            "in": "body",
            "name": "createOrUpdateInvoiceRequest",
            "schema": {
              "$ref": "#/definitions/CreateOrUpdateInvoiceRequest"
            },
            "description": ""
          }
        ],
        "schemes": [
          "https"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InvoiceIdResponse"
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "access_token": []
          }
        ]
      },
      "get": {
        "tags": [
          "Billing: Invoices"
        ],
        "summary": "Get Org Invoices",
        "operationId": "new-get-org-invoices",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "Comma-delimited list of statuses to filter by. Can use \"Editing\", \"Final\", \"Paid\", \"PartiallyPaid\", \"Void\", \"PendingApproval\", and \"Approved\"",
            "type": "string",
            "default": "*"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of invoices to return",
            "type": "integer",
            "format": "int32",
            "default": "50",
            "maximum": 1000,
            "minimum": 1
          },
          {
            "name": "offset",
            "in": "query",
            "description": "",
            "type": "integer",
            "format": "int32",
            "default": "0",
            "minimum": 0
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "",
            "type": "string",
            "format": "date",
            "default": "now"
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "",
            "type": "string",
            "format": "date",
            "default": "30 days ago"
          },
          {
            "name": "x-fv-userid",
            "in": "header",
            "description": "The User Id of the requesting user",
            "required": true,
            "type": "integer",
            "default": 0
          },
          {
            "name": "x-fv-orgid",
            "in": "header",
            "description": "The Org Id the requesting user belongs to",
            "required": true,
            "type": "integer",
            "default": 0
          }
        ],
        "schemes": [
          "https"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ItemListOfInvoiceListResponse"
            }
          }
        },
        "security": [
          {
            "access_token": []
          }
        ]
      }
    },
    "/fv-app/v2/projects/{projectId}/invoices": {
      "post": {
        "tags": [
          "Billing: Invoices"
        ],
        "summary": "Create an Invoice",
        "description": "\nCreates a new invoice for the specified project.\n",
        "operationId": "new-create-invoice",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "x-fv-userid",
            "in": "header",
            "description": "The User Id of the requesting user",
            "required": true,
            "type": "integer",
            "default": 0
          },
          {
            "name": "x-fv-orgid",
            "in": "header",
            "description": "The Org Id the requesting user belongs to",
            "required": true,
            "type": "integer",
            "default": 0
          },
          {
            "in": "body",
            "name": "invoiceRequest",
            "schema": {
              "$ref": "#/definitions/InvoiceRequest"
            }
          }
        ],
        "schemes": [
          "https"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InvoiceIdResponse"
            }
          }
        },
        "security": [
          {
            "access_token": []
          }
        ]
      }
    },
    "/fv-app/v2/projects/{projectId}/invoices/{invoiceId}": {
      "put": {
        "tags": [
          "Billing: Invoices"
        ],
        "summary": "Update an Invoice",
        "description": "\nCannot update a finalized or approved invoice.\n",
        "operationId": "new-update-invoice",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "invoiceId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "x-fv-userid",
            "in": "header",
            "description": "The User Id of the requesting user",
            "required": true,
            "type": "integer",
            "default": 0
          },
          {
            "name": "x-fv-orgid",
            "in": "header",
            "description": "The Org Id the requesting user belongs to",
            "required": true,
            "type": "integer",
            "default": 0
          },
          {
            "in": "body",
            "name": "invoiceRequest",
            "schema": {
              "$ref": "#/definitions/InvoiceRequest"
            }
          }
        ],
        "schemes": [
          "https"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InvoiceIdResponse"
            }
          }
        },
        "security": [
          {
            "access_token": []
          }
        ]
      }
    },
    "/fv-app/v2/projects/{projectID}/invoices/{invoiceID}": {
      "delete": {
        "tags": [
          "Billing: Invoices"
        ],
        "summary": "Delete an Invoice",
        "description": "\nCannot delete a finalized invoice.\n",
        "operationId": "delete-invoice",
        "parameters": [
          {
            "name": "invoiceId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "x-fv-userid",
            "in": "header",
            "description": "The User Id of the requesting user",
            "required": true,
            "type": "integer",
            "default": 0
          },
          {
            "name": "x-fv-orgid",
            "in": "header",
            "description": "The Org Id the requesting user belongs to",
            "required": true,
            "type": "integer",
            "default": 0
          }
        ],
        "schemes": [
          "https"
        ],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "security": [
          {
            "access_token": []
          }
        ]
      }
    },
    "/fv-app/v2/projects/{projectId}/invoices/{invoiceId}/finalize": {
      "post": {
        "tags": [
          "Billing: Invoices"
        ],
        "summary": "Finalize an Invoice",
        "description": "\nFinalizes a draft invoice, locking it for editing and generating a PDF.\nThe invoice must be in a finalizable state and must contain at least one billing item.\n",
        "operationId": "public-api-invoice-finalize",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "invoiceId",
            "in": "path",
            "description": "The ID of the invoice to finalize",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "The project ID that owns the invoice",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "tzOffset",
            "in": "query",
            "description": "Timezone offset in minutes for date calculations",
            "type": "integer",
            "format": "int32",
            "default": "0"
          },
          {
            "name": "x-fv-userid",
            "in": "header",
            "description": "The User Id of the requesting user",
            "required": true,
            "type": "integer",
            "default": 0
          },
          {
            "name": "x-fv-orgid",
            "in": "header",
            "description": "The Org Id the requesting user belongs to",
            "required": true,
            "type": "integer",
            "default": 0
          }
        ],
        "schemes": [
          "https"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InvoiceListAttachmentsResponse"
            }
          },
          "400": {
            "description": "Bad Request. Invoice is not in a finalizable state or failed validation."
          },
          "401": {
            "description": "Unauthorized. User lacks Full access permission for the project."
          },
          "404": {
            "description": "Not Found. Invoice or project does not exist."
          }
        },
        "security": [
          {
            "access_token": []
          }
        ]
      }
    },
    "/fv-app/v2/billingitem/projects/{projectId}/invoices": {
      "get": {
        "tags": [
          "Billing: Invoices"
        ],
        "summary": "Get Project Invoices",
        "operationId": "new-get-project-invoices",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "status",
            "in": "query",
            "description": "Comma-delimited list of statuses to filter by. One of \"Editing\", \"Final\", \"Paid\", \"PartiallyPaid\", \"Void\", \"PendingApproval\", or \"Approved\"",
            "type": "string",
            "default": "*"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of invoices to return",
            "type": "integer",
            "format": "int32",
            "default": "50",
            "maximum": 1000,
            "minimum": 1
          },
          {
            "name": "offset",
            "in": "query",
            "description": "",
            "type": "integer",
            "format": "int32",
            "default": "0",
            "minimum": 0
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "",
            "type": "string",
            "format": "date",
            "default": "now"
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "",
            "type": "string",
            "format": "date",
            "default": "30 days ago"
          },
          {
            "name": "x-fv-userid",
            "in": "header",
            "description": "The User Id of the requesting user",
            "required": true,
            "type": "integer",
            "default": 0
          },
          {
            "name": "x-fv-orgid",
            "in": "header",
            "description": "The Org Id the requesting user belongs to",
            "required": true,
            "type": "integer",
            "default": 0
          }
        ],
        "schemes": [
          "https"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ItemListOfInvoiceListResponse"
            }
          }
        },
        "security": [
          {
            "access_token": []
          }
        ]
      }
    },
    "/fv-app/v2/billingitem/invoices/{invoiceId}": {
      "get": {
        "tags": [
          "Billing: Invoices"
        ],
        "summary": "Get an Invoice",
        "operationId": "new-get-single-invoice",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "invoiceId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "x-fv-userid",
            "in": "header",
            "description": "The User Id of the requesting user",
            "required": true,
            "type": "integer",
            "default": 0
          },
          {
            "name": "x-fv-orgid",
            "in": "header",
            "description": "The Org Id the requesting user belongs to",
            "required": true,
            "type": "integer",
            "default": 0
          }
        ],
        "schemes": [
          "https"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InvoiceListResponse"
            }
          }
        },
        "security": [
          {
            "access_token": []
          }
        ]
      }
    },
    "/fv-app/v2/billing/invoices/writeoff": {
      "put": {
        "tags": [
          "Billing: Invoices"
        ],
        "summary": "Write Off a Project Invoice",
        "description": "\nWrites off the remaining balance of a finalized invoice.\nA write-off transaction is created and applied to the invoice.\n",
        "operationId": "write-off-invoice",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "x-fv-userid",
            "in": "header",
            "description": "The User Id of the requesting user",
            "required": true,
            "type": "integer",
            "default": 0
          },
          {
            "name": "x-fv-orgid",
            "in": "header",
            "description": "The Org Id the requesting user belongs to",
            "required": true,
            "type": "integer",
            "default": 0
          },
          {
            "in": "body",
            "name": "request",
            "schema": {
              "$ref": "#/definitions/InvoiceUpdateRequest"
            }
          }
        ],
        "schemes": [
          "https"
        ],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "security": [
          {
            "access_token": []
          }
        ]
      }
    },
    "/fv-app/v2/billing/invoices/{invoiceID}/mark-as-sent": {
      "post": {
        "tags": [
          "Billing: Invoices"
        ],
        "summary": "Mark a Project Invoice as Sent",
        "description": "\nMarks the invoice as sent.\n",
        "operationId": "mark-as-sent-invoice",
        "parameters": [
          {
            "name": "invoiceID",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "timezoneOffset",
            "in": "query",
            "description": "Minutes behind UTC. E.g. 300 for EST. Default is 0.",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "x-fv-userid",
            "in": "header",
            "description": "The User Id of the requesting user",
            "required": true,
            "type": "integer",
            "default": 0
          },
          {
            "name": "x-fv-orgid",
            "in": "header",
            "description": "The Org Id the requesting user belongs to",
            "required": true,
            "type": "integer",
            "default": 0
          }
        ],
        "schemes": [
          "https"
        ],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "security": [
          {
            "access_token": []
          }
        ]
      }
    },
    "/fv-app/v2/billing/invoices/{invoiceID}/approve": {
      "post": {
        "tags": [
          "Billing: Invoices"
        ],
        "summary": "Approve an Invoice",
        "description": "\nApproves an invoice. Must have approval permissions. Invoice must be in Editing or Pending Approval mode.\n",
        "operationId": "public-approve-invoice",
        "parameters": [
          {
            "name": "invoiceID",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "x-fv-userid",
            "in": "header",
            "description": "The User Id of the requesting user",
            "required": true,
            "type": "integer",
            "default": 0
          },
          {
            "name": "x-fv-orgid",
            "in": "header",
            "description": "The Org Id the requesting user belongs to",
            "required": true,
            "type": "integer",
            "default": 0
          }
        ],
        "schemes": [
          "https"
        ],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "security": [
          {
            "access_token": []
          }
        ]
      }
    },
    "/fv-app/v2/billing/invoices/{invoiceID}/send-for-approval": {
      "post": {
        "tags": [
          "Billing: Invoices"
        ],
        "summary": "Send an Invoice for Approval",
        "description": "\nPuts an invoice in Pending Approval mode, awaiting approval.\nInvoice must be in Editing or Approved mode.\nOrg must have approval role assigned. (Check via v2/Billing/org/Settings)\n",
        "operationId": "public-send-invoice-for-approval",
        "parameters": [
          {
            "name": "invoiceID",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "x-fv-userid",
            "in": "header",
            "description": "The User Id of the requesting user",
            "required": true,
            "type": "integer",
            "default": 0
          },
          {
            "name": "x-fv-orgid",
            "in": "header",
            "description": "The Org Id the requesting user belongs to",
            "required": true,
            "type": "integer",
            "default": 0
          }
        ],
        "schemes": [
          "https"
        ],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "security": [
          {
            "access_token": []
          }
        ]
      }
    },
    "/fv-app/v2/Billing/AvailableBillingCodes": {
      "get": {
        "tags": [
          "Billing: Billing Codes"
        ],
        "summary": "Get Org Billing Codes",
        "operationId": "get-org-billing-codes",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "x-fv-userid",
            "in": "header",
            "description": "The User Id of the requesting user",
            "required": true,
            "type": "integer",
            "default": 0
          },
          {
            "name": "x-fv-orgid",
            "in": "header",
            "description": "The Org Id the requesting user belongs to",
            "required": true,
            "type": "integer",
            "default": 0
          }
        ],
        "schemes": [
          "https"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BillingItemCodeSet"
              }
            }
          }
        },
        "security": [
          {
            "access_token": []
          }
        ]
      }
    },
    "/fv-app/v2/Billing/{projectId}/AvailableBillingCodes": {
      "get": {
        "tags": [
          "Billing: Billing Codes"
        ],
        "summary": "Get Project Billing Codes",
        "operationId": "get-project-billing-codes",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "x-fv-userid",
            "in": "header",
            "description": "The User Id of the requesting user",
            "required": true,
            "type": "integer",
            "default": 0
          },
          {
            "name": "x-fv-orgid",
            "in": "header",
            "description": "The Org Id the requesting user belongs to",
            "required": true,
            "type": "integer",
            "default": 0
          }
        ],
        "schemes": [
          "https"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BillingItemCodeSet"
              }
            }
          }
        },
        "security": [
          {
            "access_token": []
          }
        ]
      }
    },
    "/fv-app/v2/Billing/BillingCodeSet/{billingCodeSetId}/BillingCodes": {
      "post": {
        "tags": [
          "Billing: Billing Codes"
        ],
        "summary": "Add Codes to a Code Set",
        "operationId": "add-billing-codes",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "billingCodeSetId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "x-fv-userid",
            "in": "header",
            "description": "The User Id of the requesting user",
            "required": true,
            "type": "integer",
            "default": 0
          },
          {
            "name": "x-fv-orgid",
            "in": "header",
            "description": "The Org Id the requesting user belongs to",
            "required": true,
            "type": "integer",
            "default": 0
          },
          {
            "in": "body",
            "name": "requests",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/KeyDescriptionRequest"
              }
            }
          }
        ],
        "schemes": [
          "https"
        ],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "security": [
          {
            "access_token": []
          }
        ]
      }
    },
    "/fv-app/v2/billing/account-mappings": {
      "get": {
        "tags": [
          "Billing: FV Payments"
        ],
        "summary": "Get Org FV Payments Accounts Mapped",
        "operationId": "get-org-deposit-destinations",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "x-fv-userid",
            "in": "header",
            "description": "The User Id of the requesting user",
            "required": true,
            "type": "integer",
            "default": 0
          },
          {
            "name": "x-fv-orgid",
            "in": "header",
            "description": "The Org Id the requesting user belongs to",
            "required": true,
            "type": "integer",
            "default": 0
          }
        ],
        "schemes": [
          "https"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/DepositDestinations"
            }
          }
        },
        "security": [
          {
            "access_token": []
          }
        ]
      }
    },
    "/fv-app/v2/billing/projects/{projectId}/account-mappings": {
      "get": {
        "tags": [
          "Billing: FV Payments"
        ],
        "summary": "Get Project FV Payments Accounts Mapped",
        "operationId": "get-project-deposit-destinations",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "x-fv-userid",
            "in": "header",
            "description": "The User Id of the requesting user",
            "required": true,
            "type": "integer",
            "default": 0
          },
          {
            "name": "x-fv-orgid",
            "in": "header",
            "description": "The Org Id the requesting user belongs to",
            "required": true,
            "type": "integer",
            "default": 0
          }
        ],
        "schemes": [
          "https"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/DepositDestinations"
            }
          }
        },
        "security": [
          {
            "access_token": []
          }
        ]
      }
    },
    "/fv-app/v2/billing/account-mappings/list": {
      "get": {
        "tags": [
          "Billing: FV Payments"
        ],
        "summary": "Get Org FV Payments Accounts Available to Be Mapped",
        "operationId": "get-available-org-deposit-destinations",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "x-fv-userid",
            "in": "header",
            "description": "The User Id of the requesting user",
            "required": true,
            "type": "integer",
            "default": 0
          },
          {
            "name": "x-fv-orgid",
            "in": "header",
            "description": "The Org Id the requesting user belongs to",
            "required": true,
            "type": "integer",
            "default": 0
          }
        ],
        "schemes": [
          "https"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AvailableDepositDestination"
              }
            }
          }
        },
        "security": [
          {
            "access_token": []
          }
        ]
      }
    },
    "/fv-app/v2/billing/invoice-templates": {
      "post": {
        "tags": [
          "Billing: Invoice Templates"
        ],
        "summary": "Add an Invoice Template",
        "description": "\nAdds an invoice template using a doc id that is a valid invoice template\n",
        "operationId": "add-invoice-template",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "x-fv-userid",
            "in": "header",
            "description": "The User Id of the requesting user",
            "required": true,
            "type": "integer",
            "default": 0
          },
          {
            "name": "x-fv-orgid",
            "in": "header",
            "description": "The Org Id the requesting user belongs to",
            "required": true,
            "type": "integer",
            "default": 0
          },
          {
            "in": "body",
            "name": "request",
            "schema": {
              "type": "object",
              "properties": {
                "DocID": {
                  "type": "integer",
                  "format": "int32"
                },
                "IsOrgDefault": {
                  "type": "boolean",
                  "description": "If true, sets the template to be the Org default and replaces the existing default."
                },
                "Name": {
                  "type": "string",
                  "minLength": 1
                },
                "Description": {
                  "type": "string"
                }
              },
              "required": [
                "DocID",
                "Name"
              ],
              "x-examples": [
                {
                  "Name": "Standard Hourly Template",
                  "DocID": 12345,
                  "IsOrgDefault": false,
                  "Description": "Default hourly billing template used for most projects."
                }
              ]
            }
          }
        ],
        "schemes": [
          "https"
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "400": {
            "description": "Bad Request. Request body is missing required fields (Name, DocID) or the referenced Doc is not a valid invoice template."
          },
          "403": {
            "description": "Forbidden. Caller lacks permission to create invoice templates for this org."
          },
          "404": {
            "description": "Not Found. The referenced Doc does not exist or is not accessible to the caller's org."
          }
        },
        "security": [
          {
            "access_token": []
          }
        ]
      },
      "get": {
        "tags": [
          "Billing: Invoice Templates"
        ],
        "summary": "Get Invoice Templates for an Org",
        "operationId": "get-invoice-templates",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "x-fv-userid",
            "in": "header",
            "description": "The User Id of the requesting user",
            "required": true,
            "type": "integer",
            "default": 0
          },
          {
            "name": "x-fv-orgid",
            "in": "header",
            "description": "The Org Id the requesting user belongs to",
            "required": true,
            "type": "integer",
            "default": 0
          }
        ],
        "schemes": [
          "https"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/InvoiceTemplateResponse"
              }
            }
          },
          "400": {
            "description": "Bad Request. Required org context headers are missing or invalid."
          }
        },
        "security": [
          {
            "access_token": []
          }
        ]
      }
    },
    "/fv-app/v2/billing/invoice-templates/{templateID}": {
      "put": {
        "tags": [
          "Billing: Invoice Templates"
        ],
        "summary": "Edit an Invoice Template",
        "operationId": "edit-invoice-template",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "templateID",
            "in": "path",
            "description": "The unique identifier for the invoice template (Guid; e.g. 00000000-0000-0000-0000-000000000000).",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "x-fv-userid",
            "in": "header",
            "description": "The User Id of the requesting user",
            "required": true,
            "type": "integer",
            "default": 0
          },
          {
            "name": "x-fv-orgid",
            "in": "header",
            "description": "The Org Id the requesting user belongs to",
            "required": true,
            "type": "integer",
            "default": 0
          },
          {
            "in": "body",
            "name": "request",
            "schema": {
              "type": "object",
              "properties": {
                "DocID": {
                  "type": "integer",
                  "format": "int32"
                },
                "IsOrgDefault": {
                  "type": "boolean",
                  "description": "If true, sets the template to be the Org default and replaces the existing default."
                },
                "Name": {
                  "type": "string",
                  "minLength": 1
                },
                "Description": {
                  "type": "string"
                }
              },
              "required": [
                "DocID",
                "Name"
              ],
              "x-examples": [
                {
                  "Name": "Standard Hourly Template",
                  "DocID": 12345,
                  "IsOrgDefault": false,
                  "Description": "Default hourly billing template used for most projects."
                }
              ]
            }
          }
        ],
        "schemes": [
          "https"
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "400": {
            "description": "Bad Request. Request body is missing required fields (Name, DocID) or contains invalid values, or the referenced Doc (when updated) is not a valid invoice template."
          },
          "403": {
            "description": "Forbidden. Caller lacks permission to edit this invoice template."
          },
          "404": {
            "description": "Not Found. The specified invoice template does not exist in the caller's org, or the referenced Doc (when updated) does not exist or is not accessible to the caller's org."
          }
        },
        "security": [
          {
            "access_token": []
          }
        ]
      },
      "get": {
        "tags": [
          "Billing: Invoice Templates"
        ],
        "summary": "Get an Invoice Template",
        "operationId": "get-invoice-template",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "templateID",
            "in": "path",
            "description": "The unique identifier for the invoice template (Guid; e.g. 00000000-0000-0000-0000-000000000000).",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "x-fv-userid",
            "in": "header",
            "description": "The User Id of the requesting user",
            "required": true,
            "type": "integer",
            "default": 0
          },
          {
            "name": "x-fv-orgid",
            "in": "header",
            "description": "The Org Id the requesting user belongs to",
            "required": true,
            "type": "integer",
            "default": 0
          }
        ],
        "schemes": [
          "https"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InvoiceTemplateResponse"
            }
          },
          "400": {
            "description": "Bad Request. The templateID is missing or not a valid Guid."
          },
          "404": {
            "description": "Not Found. The specified invoice template does not exist in the caller's org."
          }
        },
        "security": [
          {
            "access_token": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Billing: Invoice Templates"
        ],
        "summary": "Delete an Invoice Template from an Org",
        "operationId": "delete-invoice-template-from-org",
        "parameters": [
          {
            "name": "templateID",
            "in": "path",
            "description": "The unique identifier for the invoice template (Guid; e.g. 00000000-0000-0000-0000-000000000000).",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "x-fv-userid",
            "in": "header",
            "description": "The User Id of the requesting user",
            "required": true,
            "type": "integer",
            "default": 0
          },
          {
            "name": "x-fv-orgid",
            "in": "header",
            "description": "The Org Id the requesting user belongs to",
            "required": true,
            "type": "integer",
            "default": 0
          }
        ],
        "schemes": [
          "https"
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "400": {
            "description": "Bad Request. The templateID is missing or not a valid Guid."
          },
          "403": {
            "description": "Forbidden. Caller lacks permission to delete invoice templates from this org."
          },
          "404": {
            "description": "Not Found. The specified invoice template does not exist in the caller's org."
          }
        },
        "security": [
          {
            "access_token": []
          }
        ]
      }
    },
    "/fv-app/v2/billing/invoice-templates/org-default/{templateID}": {
      "post": {
        "tags": [
          "Billing: Invoice Templates"
        ],
        "summary": "Set a Default Invoice Template for an Org",
        "operationId": "set-invoice-template-as-default",
        "parameters": [
          {
            "name": "templateID",
            "in": "path",
            "description": "The unique identifier for the invoice template (Guid; e.g. 00000000-0000-0000-0000-000000000000).",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "x-fv-userid",
            "in": "header",
            "description": "The User Id of the requesting user",
            "required": true,
            "type": "integer",
            "default": 0
          },
          {
            "name": "x-fv-orgid",
            "in": "header",
            "description": "The Org Id the requesting user belongs to",
            "required": true,
            "type": "integer",
            "default": 0
          }
        ],
        "schemes": [
          "https"
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "400": {
            "description": "Bad Request. The templateID is missing or not a valid Guid."
          },
          "403": {
            "description": "Forbidden. Caller lacks permission to set org-default templates."
          },
          "404": {
            "description": "Not Found. The specified invoice template does not exist in the caller's org."
          }
        },
        "security": [
          {
            "access_token": []
          }
        ]
      }
    },
    "/fv-app/v2/billing/invoice-templates/unset-org-default": {
      "put": {
        "tags": [
          "Billing: Invoice Templates"
        ],
        "summary": "Unset the Default Invoice Template for an Org",
        "description": "\nUnset the current Org default and fall back to the Filevine default template\n",
        "operationId": "unset-invoice-template-org-defaults",
        "parameters": [
          {
            "name": "x-fv-userid",
            "in": "header",
            "description": "The User Id of the requesting user",
            "required": true,
            "type": "integer",
            "default": 0
          },
          {
            "name": "x-fv-orgid",
            "in": "header",
            "description": "The Org Id the requesting user belongs to",
            "required": true,
            "type": "integer",
            "default": 0
          }
        ],
        "schemes": [
          "https"
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "400": {
            "description": "Bad Request. Required org context headers are missing or invalid."
          },
          "403": {
            "description": "Forbidden. Caller lacks permission to modify org-default templates."
          }
        },
        "security": [
          {
            "access_token": []
          }
        ]
      }
    },
    "/fv-app/v2/billing/project/{projectID}/invoice-templates/{templateID}": {
      "put": {
        "tags": [
          "Billing: Invoice Templates"
        ],
        "summary": "Set a Default Invoice Template for a Project",
        "operationId": "set-invoice-template-as-project-default",
        "parameters": [
          {
            "name": "templateID",
            "in": "path",
            "description": "The unique identifier for the invoice template (Guid; e.g. 00000000-0000-0000-0000-000000000000).",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "projectID",
            "in": "path",
            "description": "The project's native ID (int; e.g. 46774103).",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "x-fv-userid",
            "in": "header",
            "description": "The User Id of the requesting user",
            "required": true,
            "type": "integer",
            "default": 0
          },
          {
            "name": "x-fv-orgid",
            "in": "header",
            "description": "The Org Id the requesting user belongs to",
            "required": true,
            "type": "integer",
            "default": 0
          }
        ],
        "schemes": [
          "https"
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "400": {
            "description": "Bad Request. The projectID or templateID is missing or invalid."
          },
          "403": {
            "description": "Forbidden. Caller lacks permission to set the project's default template."
          },
          "404": {
            "description": "Not Found. The specified invoice template does not exist in the caller's org, or the project has no billing settings configured."
          }
        },
        "security": [
          {
            "access_token": []
          }
        ]
      }
    },
    "/fv-app/v2/billing/project/{projectID}/invoice-templates": {
      "get": {
        "tags": [
          "Billing: Invoice Templates"
        ],
        "summary": "Get the Default Invoice Template for a Project",
        "operationId": "get-project-default-invoice-template",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "projectID",
            "in": "path",
            "description": "The project's native ID (int; e.g. 46774103).",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "x-fv-userid",
            "in": "header",
            "description": "The User Id of the requesting user",
            "required": true,
            "type": "integer",
            "default": 0
          },
          {
            "name": "x-fv-orgid",
            "in": "header",
            "description": "The Org Id the requesting user belongs to",
            "required": true,
            "type": "integer",
            "default": 0
          }
        ],
        "schemes": [
          "https"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/InvoiceTemplateResponse"
            }
          },
          "400": {
            "description": "Bad Request. The projectID is missing or not a valid integer."
          },
          "404": {
            "description": "Not Found. The specified project does not exist in the caller's org or has no billing settings configured. Note: a project with billing settings but no default template returns 200 with a null template, not 404."
          }
        },
        "security": [
          {
            "access_token": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Billing: Invoice Templates"
        ],
        "summary": "Unset the Default Invoice Template for a Project",
        "operationId": "delete-invoice-template-as-project-default",
        "parameters": [
          {
            "name": "projectID",
            "in": "path",
            "description": "The project's native ID (int; e.g. 46774103).",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "x-fv-userid",
            "in": "header",
            "description": "The User Id of the requesting user",
            "required": true,
            "type": "integer",
            "default": 0
          },
          {
            "name": "x-fv-orgid",
            "in": "header",
            "description": "The Org Id the requesting user belongs to",
            "required": true,
            "type": "integer",
            "default": 0
          }
        ],
        "schemes": [
          "https"
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "400": {
            "description": "Bad Request. The projectID is missing or not a valid integer."
          },
          "403": {
            "description": "Forbidden. Caller lacks permission to modify the project's default template."
          },
          "404": {
            "description": "Not Found. The specified project does not exist in the caller's org or has no billing settings configured."
          }
        },
        "security": [
          {
            "access_token": []
          }
        ]
      }
    },
    "/fv-app/v2/BillingItem": {
      "put": {
        "tags": [
          "Billing: Billing Items"
        ],
        "summary": "[Deprecated] Create/Update Billing Item",
        "description": "\nThis API call is currently deprecated. Please use the individual calls to Create Billing Item and Update Billing Item.\nExpected removal date - 1/1/2027\n",
        "operationId": "new-create-update-billing-item",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "x-fv-userid",
            "in": "header",
            "description": "The User Id of the requesting user",
            "required": true,
            "type": "integer",
            "default": 0
          },
          {
            "name": "x-fv-orgid",
            "in": "header",
            "description": "The Org Id the requesting user belongs to",
            "required": true,
            "type": "integer",
            "default": 0
          },
          {
            "in": "body",
            "name": "request",
            "schema": {
              "$ref": "#/definitions/CreateUpdateBillingItemRequest"
            },
            "description": ""
          }
        ],
        "schemes": [
          "https"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/BillingItemResponse"
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "access_token": []
          }
        ]
      }
    },
    "/fv-app/v2/projects/{projectId}/BillingItem": {
      "post": {
        "tags": [
          "Billing: Billing Items"
        ],
        "summary": "Create a Billing Item",
        "operationId": "new-create-billing-item",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "x-fv-userid",
            "in": "header",
            "description": "The User Id of the requesting user",
            "required": true,
            "type": "integer",
            "default": 0
          },
          {
            "name": "x-fv-orgid",
            "in": "header",
            "description": "The Org Id the requesting user belongs to",
            "required": true,
            "type": "integer",
            "default": 0
          },
          {
            "in": "body",
            "name": "request",
            "schema": {
              "$ref": "#/definitions/BillingItemRequest"
            }
          }
        ],
        "schemes": [
          "https"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/BillingItemResponse"
            }
          }
        },
        "security": [
          {
            "access_token": []
          }
        ]
      }
    },
    "/fv-app/v2/projects/{projectId}/BillingItem/{billingItemId}": {
      "put": {
        "tags": [
          "Billing: Billing Items"
        ],
        "summary": "Update a Billing Item",
        "operationId": "new-update-billing-item",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "billingItemId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "x-fv-userid",
            "in": "header",
            "description": "The User Id of the requesting user",
            "required": true,
            "type": "integer",
            "default": 0
          },
          {
            "name": "x-fv-orgid",
            "in": "header",
            "description": "The Org Id the requesting user belongs to",
            "required": true,
            "type": "integer",
            "default": 0
          },
          {
            "in": "body",
            "name": "request",
            "schema": {
              "$ref": "#/definitions/BillingItemRequest"
            }
          }
        ],
        "schemes": [
          "https"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/BillingItemResponse"
            }
          }
        },
        "security": [
          {
            "access_token": []
          }
        ]
      }
    },
    "/fv-app/v2/billingitem/org": {
      "get": {
        "tags": [
          "Billing: Billing Items"
        ],
        "summary": "Get Org Billing Items",
        "description": "\nReturns all billing items across the Org. Requires Org Admin permission. **Range defaults to 30 days.**\n",
        "operationId": "new-get-org-billing-items",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "dateCreated",
            "in": "query",
            "description": "Begin range for DateCreated",
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "unsynced",
            "in": "query",
            "description": "Filter to only include unsynced billing items. Items become unsynced when created or edited. Items can be marked synced using `v2/accountingsync`",
            "type": "boolean",
            "default": "false"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of billing items to return",
            "type": "integer",
            "format": "int32",
            "default": "50",
            "maximum": 1000,
            "minimum": 1
          },
          {
            "name": "offset",
            "in": "query",
            "description": "",
            "type": "integer",
            "format": "int32",
            "default": "0"
          },
          {
            "name": "billingType",
            "in": "query",
            "description": "One of \"Time\", \"Expenses\" or \"FlatFee\"",
            "type": "string"
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "End date range",
            "type": "string",
            "format": "date",
            "default": "now"
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Begin date range",
            "type": "string",
            "format": "date",
            "default": "30 days ago"
          },
          {
            "name": "x-fv-userid",
            "in": "header",
            "description": "The User Id of the requesting user",
            "required": true,
            "type": "integer",
            "default": 0
          },
          {
            "name": "x-fv-orgid",
            "in": "header",
            "description": "The Org Id the requesting user belongs to",
            "required": true,
            "type": "integer",
            "default": 0
          }
        ],
        "schemes": [
          "https"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ItemListLiteOfBillingItemListResponse"
            }
          }
        },
        "security": [
          {
            "access_token": []
          }
        ]
      }
    },
    "/fv-app/v2/billingitem/projects/{projectId}": {
      "get": {
        "tags": [
          "Billing: Billing Items"
        ],
        "summary": "Get Project Billing Items",
        "description": "\nReturns billing items for a specific project. **Range defaults to 30 days.**\n",
        "operationId": "get-project-billing-items",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "dateCreated",
            "in": "query",
            "description": "Begin range for DateCreated",
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "unsynced",
            "in": "query",
            "description": "Filter to only include unsynced billing items. Items become unsynced when created or edited. Items can be marked synced using `v2/accountingsync`",
            "type": "boolean",
            "default": "false"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of billing items to return",
            "type": "integer",
            "format": "int32",
            "default": "50",
            "maximum": 1000,
            "minimum": 1
          },
          {
            "name": "offset",
            "in": "query",
            "description": "",
            "type": "integer",
            "format": "int32",
            "default": "0"
          },
          {
            "name": "billingType",
            "in": "query",
            "description": "One of \"Time\", \"Expenses\" or \"FlatFee\"",
            "type": "string"
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "End date range",
            "type": "string",
            "format": "date",
            "default": "now"
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Begin date range",
            "type": "string",
            "format": "date",
            "default": "30 days ago"
          },
          {
            "name": "x-fv-userid",
            "in": "header",
            "description": "The User Id of the requesting user",
            "required": true,
            "type": "integer",
            "default": 0
          },
          {
            "name": "x-fv-orgid",
            "in": "header",
            "description": "The Org Id the requesting user belongs to",
            "required": true,
            "type": "integer",
            "default": 0
          }
        ],
        "schemes": [
          "https"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ItemListLiteOfBillingItemListResponse"
            }
          }
        },
        "security": [
          {
            "access_token": []
          }
        ]
      }
    },
    "/fv-app/v2/billing/projects/{projectID}/billing-items/{billingItemID}": {
      "get": {
        "tags": [
          "Billing: Billing Items"
        ],
        "summary": "Get a Billing Item",
        "operationId": "get-billing-item",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "billingItemID",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "guid"
          },
          {
            "name": "projectID",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "x-fv-userid",
            "in": "header",
            "description": "The User Id of the requesting user",
            "required": true,
            "type": "integer",
            "default": 0
          },
          {
            "name": "x-fv-orgid",
            "in": "header",
            "description": "The Org Id the requesting user belongs to",
            "required": true,
            "type": "integer",
            "default": 0
          }
        ],
        "schemes": [
          "https"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProjectBillingItemResponse"
            }
          }
        },
        "security": [
          {
            "access_token": []
          }
        ]
      }
    },
    "/fv-app/v2/billingitems/{billingItemId}/attachments": {
      "post": {
        "tags": [
          "Billing: Billing Items"
        ],
        "summary": "Add Attachments to a Project Billing Item",
        "description": "\nAdd attachments to a project billing item. The documents must already be uploaded to the system.\nNOTE: Attachments can only be added to expenses and flat fees.\n",
        "operationId": "add-attachments-to-project-billing-items",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "billingItemId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "x-fv-userid",
            "in": "header",
            "description": "The User Id of the requesting user",
            "required": true,
            "type": "integer",
            "default": 0
          },
          {
            "name": "x-fv-orgid",
            "in": "header",
            "description": "The Org Id the requesting user belongs to",
            "required": true,
            "type": "integer",
            "default": 0
          },
          {
            "in": "body",
            "name": "request",
            "schema": {
              "$ref": "#/definitions/AttachmentsForBillingItemRequest"
            }
          }
        ],
        "schemes": [
          "https"
        ],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "security": [
          {
            "access_token": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Billing: Billing Items"
        ],
        "summary": "Remove Attachments from Project Billing Items",
        "description": "\nRemove attachments from a project billing item.\nNOTE: Attachments are only associated with expenses and flat fees.\n",
        "operationId": "remove-attachments-to-project-billing-items",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "billingItemId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "x-fv-userid",
            "in": "header",
            "description": "The User Id of the requesting user",
            "required": true,
            "type": "integer",
            "default": 0
          },
          {
            "name": "x-fv-orgid",
            "in": "header",
            "description": "The Org Id the requesting user belongs to",
            "required": true,
            "type": "integer",
            "default": 0
          },
          {
            "in": "body",
            "name": "request",
            "schema": {
              "$ref": "#/definitions/AttachmentsForBillingItemRequest"
            }
          }
        ],
        "schemes": [
          "https"
        ],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "security": [
          {
            "access_token": []
          }
        ]
      }
    },
    "/fv-app/v2/billingitem/{projectId}/note/{billingItemId}": {
      "delete": {
        "tags": [
          "Billing: Billing Items"
        ],
        "summary": "Remove a Note from a Billing Item",
        "description": "\nRemoves any note associated with the specified billing item.\nThe billing item must be a time entry.\n",
        "operationId": "remove-note-from-billing-item",
        "parameters": [
          {
            "name": "billingItemId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "x-fv-userid",
            "in": "header",
            "description": "The User Id of the requesting user",
            "required": true,
            "type": "integer",
            "default": 0
          },
          {
            "name": "x-fv-orgid",
            "in": "header",
            "description": "The Org Id the requesting user belongs to",
            "required": true,
            "type": "integer",
            "default": 0
          }
        ],
        "schemes": [
          "https"
        ],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "security": [
          {
            "access_token": []
          }
        ]
      }
    },
    "/fv-app/v2/billingitem/{billingItemId}/note": {
      "put": {
        "tags": [
          "Billing: Billing Items"
        ],
        "summary": "Assign a Note to a Billing Item",
        "description": "\nAssociates a note with the specified billing item.\nThe billing item must be a time entry. The note must not already be assigned to another billing item.\nThe billing item must not have another note already assigned to it.\n",
        "operationId": "set-note-on-billing-item",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "billingItemId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "x-fv-userid",
            "in": "header",
            "description": "The User Id of the requesting user",
            "required": true,
            "type": "integer",
            "default": 0
          },
          {
            "name": "x-fv-orgid",
            "in": "header",
            "description": "The Org Id the requesting user belongs to",
            "required": true,
            "type": "integer",
            "default": 0
          },
          {
            "in": "body",
            "name": "request",
            "schema": {
              "$ref": "#/definitions/NoteForBillingItemRequest"
            },
            "description": "",
            "required": true
          }
        ],
        "schemes": [
          "https"
        ],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "security": [
          {
            "access_token": []
          }
        ]
      }
    },
    "/fv-app/v2/billing/projects/{projectID}/payment-link": {
      "get": {
        "tags": [
          "Billing: FV Payments"
        ],
        "summary": "Get an Open-Ended Payment Link for a Project",
        "operationId": "get-project-open-payment-link",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "projectID",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "x-fv-userid",
            "in": "header",
            "description": "The User Id of the requesting user",
            "required": true,
            "type": "integer",
            "default": 0
          },
          {
            "name": "x-fv-orgid",
            "in": "header",
            "description": "The Org Id the requesting user belongs to",
            "required": true,
            "type": "integer",
            "default": 0
          }
        ],
        "schemes": [
          "https"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/PaymentLinkResponse"
            }
          }
        },
        "security": [
          {
            "access_token": []
          }
        ]
      }
    },
    "/fv-app/v2/Billing/invoice/{invoiceID}/paymentlink": {
      "get": {
        "tags": [
          "Billing: FV Payments"
        ],
        "summary": "Get a Payment Link for an Invoice",
        "operationId": "get-payment-link",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "invoiceID",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "x-fv-userid",
            "in": "header",
            "description": "The User Id of the requesting user",
            "required": true,
            "type": "integer",
            "default": 0
          },
          {
            "name": "x-fv-orgid",
            "in": "header",
            "description": "The Org Id the requesting user belongs to",
            "required": true,
            "type": "integer",
            "default": 0
          }
        ],
        "schemes": [
          "https"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/PaymentLinkResponse"
            }
          }
        },
        "security": [
          {
            "access_token": []
          }
        ]
      }
    },
    "/fv-app/v2/Billing/projects/{projectID}/funds": {
      "get": {
        "tags": [
          "Billing: Project Funds"
        ],
        "summary": "Get Project Fund Balance",
        "operationId": "get-funds-balance",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "projectID",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "x-fv-userid",
            "in": "header",
            "description": "The User Id of the requesting user",
            "required": true,
            "type": "integer",
            "default": 0
          },
          {
            "name": "x-fv-orgid",
            "in": "header",
            "description": "The Org Id the requesting user belongs to",
            "required": true,
            "type": "integer",
            "default": 0
          }
        ],
        "schemes": [
          "https"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProjectFundBalanceResponse"
            }
          }
        },
        "security": [
          {
            "access_token": []
          }
        ]
      },
      "post": {
        "tags": [
          "Billing: Project Funds"
        ],
        "summary": "Create Project Fund Transaction",
        "description": "\nCreate a deposit, retainer, or refund Project Fund transaction.\n",
        "operationId": "add-fund",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "projectID",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "x-fv-userid",
            "in": "header",
            "description": "The User Id of the requesting user",
            "required": true,
            "type": "integer",
            "default": 0
          },
          {
            "name": "x-fv-orgid",
            "in": "header",
            "description": "The Org Id the requesting user belongs to",
            "required": true,
            "type": "integer",
            "default": 0
          },
          {
            "in": "body",
            "name": "projectFundRequest",
            "schema": {
              "$ref": "#/definitions/ProjectFundRequest"
            }
          }
        ],
        "schemes": [
          "https"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProjectFundResponse"
            }
          }
        },
        "security": [
          {
            "access_token": []
          }
        ]
      }
    },
    "/fv-app/v2/Billing/projects/{projectID}/fundslist": {
      "get": {
        "tags": [
          "Billing: Project Funds"
        ],
        "summary": "Get Project Fund Transactions",
        "operationId": "get-funds-transaction-list",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "projectID",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of transactions to return",
            "type": "integer",
            "format": "int32",
            "default": "50",
            "maximum": 1000,
            "minimum": 1
          },
          {
            "name": "offset",
            "in": "query",
            "description": "",
            "type": "integer",
            "format": "int32",
            "default": "0",
            "minimum": 0
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "",
            "type": "string",
            "format": "date"
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "",
            "type": "string",
            "format": "date"
          },
          {
            "name": "x-fv-userid",
            "in": "header",
            "description": "The User Id of the requesting user",
            "required": true,
            "type": "integer",
            "default": 0
          },
          {
            "name": "x-fv-orgid",
            "in": "header",
            "description": "The Org Id the requesting user belongs to",
            "required": true,
            "type": "integer",
            "default": 0
          }
        ],
        "schemes": [
          "https"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProjectFundsListResponse"
            }
          }
        },
        "security": [
          {
            "access_token": []
          }
        ]
      }
    },
    "/fv-app/v2/Billing/projects/{projectID}/funds/{projectFundID}": {
      "get": {
        "tags": [
          "Billing: Project Funds"
        ],
        "summary": "Get a Project Fund Transaction",
        "operationId": "get-fund-transaction",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "projectFundID",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "projectID",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "x-fv-userid",
            "in": "header",
            "description": "The User Id of the requesting user",
            "required": true,
            "type": "integer",
            "default": 0
          },
          {
            "name": "x-fv-orgid",
            "in": "header",
            "description": "The Org Id the requesting user belongs to",
            "required": true,
            "type": "integer",
            "default": 0
          }
        ],
        "schemes": [
          "https"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProjectFundTransaction"
            }
          }
        },
        "security": [
          {
            "access_token": []
          }
        ]
      }
    },
    "/fv-app/v2/Billing/projects/{projectID}/funds/{projectFundID}/void": {
      "put": {
        "tags": [
          "Billing: Project Funds"
        ],
        "summary": "Void a Project Fund Transaction",
        "operationId": "void-fund-transaction",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "projectFundID",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "projectID",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "x-fv-userid",
            "in": "header",
            "description": "The User Id of the requesting user",
            "required": true,
            "type": "integer",
            "default": 0
          },
          {
            "name": "x-fv-orgid",
            "in": "header",
            "description": "The Org Id the requesting user belongs to",
            "required": true,
            "type": "integer",
            "default": 0
          }
        ],
        "schemes": [
          "https"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProjectFundResponse"
            }
          }
        },
        "security": [
          {
            "access_token": []
          }
        ]
      }
    },
    "/fv-app/v2/Billing/org/rateschedules": {
      "get": {
        "tags": [
          "Billing: Rate Schedules"
        ],
        "summary": "Get Org Rate Schedules",
        "description": "\nGet all org rate schedules\n",
        "operationId": "get-org-rate-schedules",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "x-fv-userid",
            "in": "header",
            "description": "The User Id of the requesting user",
            "required": true,
            "type": "integer",
            "default": 0
          },
          {
            "name": "x-fv-orgid",
            "in": "header",
            "description": "The Org Id the requesting user belongs to",
            "required": true,
            "type": "integer",
            "default": 0
          }
        ],
        "schemes": [
          "https"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/RateScheduleName"
              }
            }
          }
        },
        "security": [
          {
            "access_token": []
          }
        ]
      }
    },
    "/fv-app/v2/rate-schedules/{rateScheduleId}": {
      "get": {
        "tags": [
          "Billing: Rate Schedules"
        ],
        "summary": "Get a Rate Schedule",
        "description": "\nGet the specified rate schedule\n",
        "operationId": "get-rate-schedule",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "rateScheduleId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "x-fv-userid",
            "in": "header",
            "description": "The User Id of the requesting user",
            "required": true,
            "type": "integer",
            "default": 0
          },
          {
            "name": "x-fv-orgid",
            "in": "header",
            "description": "The Org Id the requesting user belongs to",
            "required": true,
            "type": "integer",
            "default": 0
          }
        ],
        "schemes": [
          "https"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/RateScheduleResponse"
            }
          }
        },
        "security": [
          {
            "access_token": []
          }
        ]
      },
      "put": {
        "tags": [
          "Billing: Rate Schedules"
        ],
        "summary": "Update Rate Schedule",
        "description": "\nUpdate an existing rate schedule\n",
        "operationId": "update-rate-schedule",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "rateScheduleId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "x-fv-userid",
            "in": "header",
            "description": "The User Id of the requesting user",
            "required": true,
            "type": "integer",
            "default": 0
          },
          {
            "name": "x-fv-orgid",
            "in": "header",
            "description": "The Org Id the requesting user belongs to",
            "required": true,
            "type": "integer",
            "default": 0
          },
          {
            "in": "body",
            "name": "rateScheduleRequest",
            "schema": {
              "$ref": "#/definitions/RateScheduleRequest"
            }
          }
        ],
        "schemes": [
          "https"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/RateScheduleResponse"
            }
          }
        },
        "security": [
          {
            "access_token": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Billing: Rate Schedules"
        ],
        "summary": "Delete Rate Schedule",
        "description": "\nSoft deletes the rate schedule if it is not marked as the default rate schedule for the Org\nNote: projects using the deleted rate schedule will continue using it until it is changed in Project Billing Settings\n",
        "operationId": "delete-rate-schedule",
        "parameters": [
          {
            "name": "rateScheduleId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "x-fv-userid",
            "in": "header",
            "description": "The User Id of the requesting user",
            "required": true,
            "type": "integer",
            "default": 0
          },
          {
            "name": "x-fv-orgid",
            "in": "header",
            "description": "The Org Id the requesting user belongs to",
            "required": true,
            "type": "integer",
            "default": 0
          }
        ],
        "schemes": [
          "https"
        ],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "security": [
          {
            "access_token": []
          }
        ]
      }
    },
    "/fv-app/v2/Billing/projects/{projectId}/rateschedule/{rateScheduleId}": {
      "put": {
        "tags": [
          "Billing: Rate Schedules"
        ],
        "summary": "Set a Rate Schedule for a Project",
        "description": "\nSet the rate schedule to use for a project\n",
        "operationId": "set-project-rate-schedule",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "rateScheduleId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "x-fv-userid",
            "in": "header",
            "description": "The User Id of the requesting user",
            "required": true,
            "type": "integer",
            "default": 0
          },
          {
            "name": "x-fv-orgid",
            "in": "header",
            "description": "The Org Id the requesting user belongs to",
            "required": true,
            "type": "integer",
            "default": 0
          }
        ],
        "schemes": [
          "https"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/SetProjectRateScheduleResponse"
            }
          }
        },
        "security": [
          {
            "access_token": []
          }
        ]
      }
    },
    "/fv-app/v2/rate-schedules/timekeepers/{userId}": {
      "put": {
        "tags": [
          "Billing: Rate Schedules"
        ],
        "summary": "Set Rate Schedule Timekeeper Details",
        "description": "\nSets the timekeeper details for a user across one or more rate schedules for an Org.\nRequires OrgAdmin advanced permission.\n",
        "operationId": "set-timekeeper-details",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "x-fv-userid",
            "in": "header",
            "description": "The User Id of the requesting user",
            "required": true,
            "type": "integer",
            "default": 0
          },
          {
            "name": "x-fv-orgid",
            "in": "header",
            "description": "The Org Id the requesting user belongs to",
            "required": true,
            "type": "integer",
            "default": 0
          },
          {
            "in": "body",
            "name": "request",
            "schema": {
              "$ref": "#/definitions/TimekeeperRequest"
            }
          }
        ],
        "schemes": [
          "https"
        ],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "security": [
          {
            "access_token": []
          }
        ]
      }
    },
    "/fv-app/v2/rate-schedules": {
      "post": {
        "tags": [
          "Billing: Rate Schedules"
        ],
        "summary": "Create Rate Schedule",
        "description": "\nCreate a new rate schedule\n",
        "operationId": "create-rate-schedule",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "x-fv-userid",
            "in": "header",
            "description": "The User Id of the requesting user",
            "required": true,
            "type": "integer",
            "default": 0
          },
          {
            "name": "x-fv-orgid",
            "in": "header",
            "description": "The Org Id the requesting user belongs to",
            "required": true,
            "type": "integer",
            "default": 0
          },
          {
            "in": "body",
            "name": "rateScheduleRequest",
            "schema": {
              "$ref": "#/definitions/RateScheduleRequest"
            }
          }
        ],
        "schemes": [
          "https"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/RateScheduleResponse"
            }
          }
        },
        "security": [
          {
            "access_token": []
          }
        ]
      }
    },
    "/fv-app/v2/rate-schedules/{rateScheduleID}/flatfeetemplates": {
      "post": {
        "tags": [
          "Billing: Rate Schedules"
        ],
        "summary": "Create Rate Schedule Flat Fee Template",
        "description": "\nCreates a new flat fee template for the specified rate schedule. Requires OrgAdmin permission.\n",
        "operationId": "create-rate-schedule-flatfee-template",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "rateScheduleID",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "x-fv-userid",
            "in": "header",
            "description": "The User Id of the requesting user",
            "required": true,
            "type": "integer",
            "default": 0
          },
          {
            "name": "x-fv-orgid",
            "in": "header",
            "description": "The Org Id the requesting user belongs to",
            "required": true,
            "type": "integer",
            "default": 0
          },
          {
            "in": "body",
            "name": "request",
            "schema": {
              "$ref": "#/definitions/FlatFeeTemplateRequest"
            }
          }
        ],
        "schemes": [
          "https"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/FlatFeeTemplateResponse"
            }
          }
        },
        "security": [
          {
            "access_token": []
          }
        ]
      }
    },
    "/fv-app/v2/rate-schedules/{rateScheduleID}/flatfeetemplates/{flatFeeTemplateID}": {
      "put": {
        "tags": [
          "Billing: Rate Schedules"
        ],
        "summary": "Update Rate Schedule Flat Fee Template",
        "description": "\nUpdates an existing flat fee template for the specified rate schedule. Requires OrgAdmin permission.\n",
        "operationId": "update-rate-schedule-flatfee-template",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "flatFeeTemplateID",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "rateScheduleID",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "x-fv-userid",
            "in": "header",
            "description": "The User Id of the requesting user",
            "required": true,
            "type": "integer",
            "default": 0
          },
          {
            "name": "x-fv-orgid",
            "in": "header",
            "description": "The Org Id the requesting user belongs to",
            "required": true,
            "type": "integer",
            "default": 0
          },
          {
            "in": "body",
            "name": "request",
            "schema": {
              "$ref": "#/definitions/FlatFeeTemplateRequest"
            }
          }
        ],
        "schemes": [
          "https"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/UpdateFlatFeeTemplateResponse"
            }
          }
        },
        "security": [
          {
            "access_token": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Billing: Rate Schedules"
        ],
        "summary": "Delete Rate Schedule Flat Fee Template",
        "description": "\nDeletes the specified flat fee template from the rate schedule. Requires OrgAdmin permission.\n",
        "operationId": "delete-rate-schedule-flatfee-template",
        "parameters": [
          {
            "name": "flatFeeTemplateID",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "rateScheduleID",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "x-fv-userid",
            "in": "header",
            "description": "The User Id of the requesting user",
            "required": true,
            "type": "integer",
            "default": 0
          },
          {
            "name": "x-fv-orgid",
            "in": "header",
            "description": "The Org Id the requesting user belongs to",
            "required": true,
            "type": "integer",
            "default": 0
          }
        ],
        "schemes": [
          "https"
        ],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "security": [
          {
            "access_token": []
          }
        ]
      }
    },
    "/fv-app/v2/Billing/projects/{projectID}/transactions": {
      "get": {
        "tags": [
          "Billing: Transactions"
        ],
        "summary": "Get Project Transactions",
        "description": "\nReturns a list of transactions for the specified project. **Range defaults to 30 days.**\n",
        "operationId": "get-transactions-for-project",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "projectID",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of transactions to return",
            "type": "integer",
            "format": "int32",
            "default": "50",
            "maximum": 1000,
            "minimum": 1
          },
          {
            "name": "offset",
            "in": "query",
            "description": "",
            "type": "integer",
            "format": "int32",
            "default": "0"
          },
          {
            "name": "justUnapplied",
            "in": "query",
            "description": "If true, returns only transactions with unapplied balance; If false, returns only fully applied transactions",
            "type": "boolean"
          },
          {
            "name": "transactionType",
            "in": "query",
            "description": "One of \"Payment\", \"WriteOff\", \"Refund\", or \"Credit\".",
            "type": "string"
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "",
            "type": "string",
            "format": "date",
            "default": "now"
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "",
            "type": "string",
            "format": "date",
            "default": "30 days ago"
          },
          {
[...]
